<h3 class="text-light text-center"><b>Detalles de {{juego.nombre}}: </b> </h3>
<div class="text-light card card-body border-danger bg-dark col-lg-5 opacidad mx-auto">
    <div>
        <label> <b>ID: </b>{{juego.id}}</label>
    </div>
    <div>
        <label> <b>Nombre: </b>{{juego.nombre}}</label>
    </div>
    <div>
        <label> <b>Precio: </b>{{juego.precio}}</label>
    </div>
    <div>
        <label> <b>Edición: </b>{{juego.edicion}}</label>
    </div>
    <div>
        <label><b>Expansiones: </b>
            <ul *ngFor="let expansion of expansiones">
                <li>{{expansion.nombre}}</li>
            </ul>
        </label>
    </div>
</div>