<!-- CREADO POR JOAN SALAS 27/04 -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="juegos" routerLinkActive="active" class="nav-link">Lista de juegos</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrar-juego" routerLinkActive="active" class="nav-link">Agregar Juego a Ludoteca</a>
        </li>
    </ul>
</nav>
<!-- title llama al titulo por defecto del proyecto -->
<h1 class="text-center">{{title}}</h1>
<!-- llamar al componente lista de juegos -->
<div class="container">
    <!-- Etiqueta especial en angular para mostrar componentes -->
    <router-outlet></router-outlet>
</div>