<!-- Creado por Joan Salas 28/04 -->
<br>
<div class="card card-body col-lg-6 mx-auto" id="card-actualizar">
    <br>
    <h3 class="text-center text-light">Actualización de juego</h3>
    <br>
    <!-- El formulario llama a la funcion onSubmit que esta ubicada en registrar-juego.component.ts -->
    <form (ngSubmit)="onSubmit()" #juegoForm="ngForm">
        <div class="form-group">
            <label class="text-light">Nombre</label>
            <!-- Todo el contenido del input ira relacionado con juego creado en registrar-juego-component.ts (lin:12) -->
            <input type="text" class="form-control bg-dark text-light" id="nombreJuego" [(ngModel)]="juego.nombre"
                name="nombre" required placeholder="Ingrese nombre del juego" minlength="4" maxlength="59"
                #nombre="ngModel">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors['required']">
                    Ingrese el nombre del juego por favor
                </div>
                <div *ngIf="nombre.errors['minlength']">
                    El nombre debe contener mínimo 4 carácteres
                </div>
                <div *ngIf="nombre.errors['maxlength']">
                    El nombre debe contener como máximo 60 carácteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="text-light">Precio</label>
            <!-- Todo el contenido del input ira relacionado con juego creado en registrar-juego-component.ts (lin:12) -->
            <input type="number" class="form-control bg-dark text-light" id="precioJuego" [(ngModel)]="juego.precio"
                name="precio" required placeholder="Ingrese precio" min="0" #precio="ngModel">
            <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                <div *ngIf="precio.errors['required']">
                    Ingrese el precio del juego por favor
                </div>
                <div *ngIf="precio.errors['min']">
                    El precio debe contener mínimo 4 carácteres
                </div>
            </div>

        </div>
        <div class="form-group">
            <label class="text-light">Edición</label>
            <!-- Todo el contenido del input ira relacionado con juego creado en registrar-juego-component.ts (lin:12) -->
            <select name="edicion" id="edicionJuego" class="form-control bg-dark text-light" [(ngModel)]="juego.edicion"
                required #edicion="ngModel">
                <option value="estándar">Estándar</option>
                <option value="limitada">Limitada</option>
            </select>
            <div class="alert alert-danger" *ngIf="edicion.invalid && edicion.touched">
                <div *ngIf="edicion.errors['required']">
                    Ingrese la edición del juego por favor
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-outline-success" [disabled]="!juegoForm.form.valid">Actualizar</button>

        </div>
        <br>
    </form>
    <div class="text-center">
        <button (click)="irListaJuegos()" class="btn btn-secondary">Volver</button>
    </div>
</div>